body, html {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-family: Arial, sans-serif;
  background-color: #ffffff;

}

/* Default starting canvas */
canvas {
  width: 5000px;
  height: 5000px;
  background-color: #ffffff;
}

/* Get values from main.js */
.canvas-modified {
  width: 600px;
  height: 500px;
}